.container_within_navbar {
    margin-left: 100px;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
  }


#clientDetails {
  margin-left: 100px; 
  margin-top: 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#clientDetails tr:nth-child(even){background-color: white; color: black}

#clientDetails tr:hover {background-color: #ddd;}

#clientDetails td, #clientDetails th {
  border: 1px solid #ddd;
  padding: 7px;
}

#clientDetails th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #eea320;
  color: white;
}