.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
color:black
}

a:hover {
color:#992327;
font-weight: bold;
text-decoration: none;
}

.clientList {
  font-size: 16px;
  padding: 2px;
}

.card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container_within_navbar {
  font-family: sans-serif;
  margin-bottom: 25px;
  margin-top: 50px;
}

.title_within_navbar {
  font-family: sans-serif;
}

.imgD{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.imgDash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
 
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.productCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 95%;
  width: 100%;
  margin: 10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.productAdd {
  display: flex;
  align-items: baseline;
}

.product-name {
  margin-top: auto;
}

.imgProduct{

} 

.quantity {
  width: 30%
}

.addQuantity {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#clientDetails {
  margin-top: 25px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
  }

#clientDetails .subTitle {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e5e5e5;
  color: black;
}

#clientDetails .subRow {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

#clientDetails tr:nth-child(even), #productsList tr:nth-child(even){background-color: white; color: black}

#clientDetails tr:hover, #productsList tr:hover{background-color: #ddd;}

#clientDetails td, #clientDetails th, #productsList td, #productsList th {
border: 1px solid #ddd;
padding: 7px;
}

#clientDetails th, #productsList th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #eea320;
color: white;
}

.addProductBtn:disabled {
  color: #992327;
  background-color: #e5e5e5;
  border-color: #e5e5e5;

}


.btn-primary, .btn-primary:disabled, .addProductBtn, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
  color: #e5e5e5;
  background-color: #992327;
  border-color: #992327;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #992327;
}

.inputUnit {
  width: 100px;
  height: 50px;
  float: right;
  font-size: 16px;
  text-align: center;

}
.btnSubmitSale {
  color: #eea320;
  background-color: #e5e5e5;
  border-color: #eea320;
}

.btnSubmitSale:hover {
  color: #e5e5e5;
  background-color: #eea320;
  border-color: #eea320;
  font-weight: bold;
}

.btnSubmitSale, .btnSubmitSale:hover {
  cursor: pointer;
  width: 100px;
  height: 50px;
  float: right;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #eea320;

}
.sendProduct {
  float: right;
}

.lastCell {
  display: flex;
  justify-content: flex-end;
}

.link {
  color: #FFF;
}
.link:hover {
   color: rgb(218, 213, 213)
}