body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary, .btn-primary:disabled {
  color: #992327;
  background-color: #e5e5e5;
  border-color: #992327;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #992327;
  border-color: #992327;
}
